.title {
    width: 600px;
    height: 50px;
    height: fit-content;
    background-color: skyblue;
    background-image: linear-gradient(#83c6e3,#5299b7);
    background-image: url('navtop.png');
}

.title h1 {
    margin: 3px;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 7px;
    padding-left: 2px;
    padding-right: 0px;
    padding-top: 9px;
    padding-bottom: 0px;
}

.quicklinks, .navigation {
    width: 600px;
    padding: 2px;
}

.quicklinks td, .navigation td {
    padding: 3px;
}

.quicklinks p, .quicklinks a,
.navigation p, .navigation a {
    color: white;
    margin: 0px;
    text-decoration: none;
}

.quicklinks p:hover, .quicklinks a:hover,
.navigation p:hover, .navigation a:hover {
    text-decoration: underline;
}

.quicklinks {
    background-color: darkslategray;
    background-color: #356c83;
}

.navigation {
    background-color: gray;
    background-color: #375866;
}

.quicklinks td {
    background-color: navy;
    background-color: #5299b7;
}

.navigation td {
    background-color: darkblue;
    background-color: #376b82;
}

html {
    background-image: url(tile.png);
    background-color: grey;
}

body {
    margin: 0px;
}

.container {
    display: block;
    width: 100%;
    position: relative;
    background-color: grey;
    background-color: transparent;
    background-image: url('shadow.png');
    background-repeat: repeat-y;
    background-position: top center;
}

.header, .main, .footer {
    display: block;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background: white;
    min-width: 600px;
    max-width: 600px;
    width: 600px;
}

.main {
    min-height: 400px;
}

.main h3, .main h4, .main p, .footer p {
    padding: 5px;
    padding-top: 0px;
}

.main textarea {
    padding: 5px;
    width: 600px;
    max-width: 590px;
    max-height: 50px;
    border: 0px;
    -moz-resize: vertical;
    resize: vertical;
    font-family: monospace;
}

.main img {
    padding: 5px;
    padding-top: 0px;
    width: 450px;
    padding-left: 75px;
    padding-right: 75px;
    display: block;
}

.footer {
    min-height: 50px;
}

.footer p {
    text-align: center;
}

.bordered {
    padding-left: 50px;
}

.bordered, .bordered th, .bordered td {
    border: 1px solid black;
    border-collapse: collapse;
}

.bordered th, .bordered td {
    padding: 5px
}


.reviews, .videos {
    border-collapse: collapse;
    max-width: 550px;
    margin-left: 25px;
}

special {
    font-family: Helvetica, Tahoma, Arial, sans-serif;
}

.left,
.right {
    padding: 10px;
    border: #000 solid 3px;
    background: lightgrey;
    background: #eee;
    border-radius: 0px;
}

.left p,
.left h3,
.left h4,
.left h5 {
    text-align: left;
    padding: 0px;
    padding-top: 0px;
}

.left h4 {
    margin-bottom: 10px;
    padding: 0px;
    padding-top: 0px;
}

.left .spoiler {
    color: red;
}


.left {
    width: 70%;
    border-right: 0px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.right {
    width: 30%;
    text-align: center;
    border-left-style: dashed;
    border-left-width: 1px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
}

.right img,
.right video,
.videos .left video,
.videos .left img {
    padding-left: 0px;
    padding-right: 0px;
    display: unset;
}

.right img,
.right video {
    width: 80%;
}

.videos .left video,
.videos .left img {
    width: 100%
}

.videos .left a,
.right a {
    color: blue;
    text-decoration: underline;
}

#musicPlayer, #sfx_select, #sfx_ok, #sfx_hover0, #sfx_hover1, #sfx_hover2, #sfx_hover3, #sfx_hover4, #sfx_hover5 {
    display: none;
}

#musicControl, #soundControl {
    -moz-display: block;
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
}

#musicControl {
    content: url('musicoff.png');
}

#musicControl.paused {
    content: url('musicoff.png');
}

#musicControl.playing {
    content: url('musicon.png');
}

#soundControl {
    content: url('soundoff.png');
}

#soundControl.off {
    content: url('soundoff.png');
}

#soundControl.on {
    content: url('soundon.png');
}



@font-face {
    font-family: 'Lucida Grande';
    font-style: normal;
    font-weight: normal;
    src: url('LucidaGrande.ttf');
}

* {
    font-family: "Lucida Grande", "Helvetica", "Tahoma", "Veranda", "Arial", sans-serif;
    cursor: url(NormalSelect.cur), default;
    margin: 0px;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

a img{
    border: 0;
}

a, p a, p a img, #musicControl {
    cursor: url(LinkSelect.cur), pointer;
}

input,
textarea {
    cursor: url(TextSelect.cur), text;
}
