html {
    background: white;
}

p, h1, h3 {
    color: black;
    font-family: 'Lucida Grande', 'Helvetica', 'Tahoma', 'Veranda', Arial, sans-serif;
    text-align: left;
}

tr, td {
    color: black;
    font-family: 'Lucida Grande', 'Helvetica', 'Tahoma', 'Veranda', Arial, sans-serif;
    text-align: left;
}

tr {
    background: lightgrey;
}

tr img {
    width: 120px;
}

th {
    color: black;
    font-family: 'Lucida Grande', 'Helvetica', 'Tahoma', 'Veranda', Arial, sans-serif;
    text-align: center;
}


a {
    color: #507ddd;
    font-family: 'Lucida Grande', 'Helvetica', 'Tahoma', 'Veranda', Arial, sans-serif;
    text-align: left;
}