html {
    background: url('./sidebar.gif');
}

* {
    color: black;
    font-family: 'Lucida Grande', 'Helvetica', 'Tahoma', 'Veranda', Arial, sans-serif;
    text-align: center;
}

a {
    color: black;
    font-family: 'Lucida Grande', 'Helvetica', 'Tahoma', 'Veranda', Arial, sans-serif;
    text-decoration: none;
}

td {
    text-align: center;
}